@{
    ViewBag.Title = "Про сайт";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>Сайт створений для полегшення життя тим, хто любить подорожувати на <b>потягах.</b></p>
<p>Розробники</p>
<ul>
    <li>Віталій Фейло</li>
</ul>
