@{
    ViewBag.Title = "Home Page";
}
@model Railways.SearchPath

<div class="jumbotron">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRj8_4sETsLo4934XSskZNLQ686sWd9sGoO5ed79XJaNzmoCuGdhA" width="1000" height="600"></div>

<div class="row">
    
</div>
